Credit card applications

**Credit card applications**

In [ ]:
#Instalacion: pip install pandas
import pandas as pd
# Instalarnumpy:  pip install numpy
import numpy as np
#Instalacion sklearn: pip install -U scikit-learn
from sklearn.model_selection import train_test_split
#Instalacion preprocesing pip install preprocessing
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV

In [ ]:
# Cargamos datos
data = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vSj7lgOxHgQThPWlh2WFKk1mJVL2OV-rN_ibZbj2nkL-6HzP_kahQQ-3SA-KDB5X9lvh3GVxApWo1wZ/pub?output=csv', header=None)

# Inspect data
data.head()

  0      1     2  3  4  5  6     7  8  9   10  11  12   13   14  15
0  0      1  2.00  3  4  5  6  7.00  8  9  10  11  12   13   12  15
1  b  30.83  0.00  u  g  w  v  1.25  t  t   1   f   g  202    0   +
2  a  58.67  4.46  u  g  q  h  3.04  t  t   6   f   g   43  560   +
3  a   24.5  0.50  u  g  q  h  1.50  t  f   0   f   g  280  824   +
4  b  27.83  1.54  u  g  w  v  3.75  t  t   5   t   g  100    3   +

In [ ]:
#Describimos los datos
dataDesc = data.describe()
print(dataDesc)

               2           7          10             14
count  690.000000  690.000000  690.00000     690.000000
mean     4.758725    2.223406    2.40000    1017.385507
std      4.978163    3.346513    4.86294    5210.102598
min      0.000000    0.000000    0.00000       0.000000
25%      1.000000    0.165000    0.00000       0.000000
50%      2.750000    1.000000    0.00000       5.000000
75%      7.207500    2.625000    3.00000     395.500000
max     28.000000   28.500000   67.00000  100000.000000

# Preparamos el modelo

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Instanciamos LabelEncoder
le = LabelEncoder()

# Recorremos todos los valores de cada columna y extraemos su tipo de dato
for col in data.columns:
    # Chequeamos si la columna es de tipo 'object'
    if data[col].dtypes == 'object':
    # Usamos LabelEncoder para realizar la transformación numérica
        data[col]=le.fit_transform(data[col])

In [ ]:
# Eliminamos la columna 11 y 13
data = data.drop([11, 13], axis=1)
data = data.to_numpy()

# Separamos características y etiquetas en variables distintas
X, y = data[:,0:12] , data[:,13]

# Dividimos el dataset en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
# Visualizamos histogramas de cada columna
#data.hist()
#plt.show()

# Entrenamos el modelo

In [ ]:
# Instanciamos MinMaxScaler y lo utilizamos para escalar X_train y X_test
scaler = MinMaxScaler(feature_range=(0, 1))
rescaledX_train = scaler.fit_transform(X_train)
rescaledX_test = scaler.fit_transform(X_test)

In [ ]:
# Instanciamos el clasificador LogisticRegression con sus parámetros por defecto
logreg = LogisticRegression()

# Entrenamos logreg con los datos escalados
logreg.fit(rescaledX_train, y_train)
LogisticRegression()

LogisticRegression()

# Haciendo Metricas

In [ ]:
# Utilizamos el estimador logreg para predecir instancias sobre el test set y las almacenamos
y_pred = logreg.predict(rescaledX_test)

# Obtenemos la puntuación "accuracy score"
print("Accuracy: ", logreg.score(rescaledX_test, y_test))

# Mostramos la matriz de confusión del modelo
print(confusion_matrix(y_test, y_pred))

Accuracy:  0.8122270742358079
[[ 85  18]
 [ 25 101]]

# Ajustes del Modelo

In [ ]:
# Definimos la grilla de valores para 'tol' y 'max_iter'
tol = [0.01, 0.001, 0.0001]
max_iter = [100, 150, 200]

# Creamos un diccionario con 'tol' y 'max_iter' como claves y las listas anteriores como sus valores
param_grid = dict(tol=tol, max_iter=max_iter)

In [ ]:
# Instanciamos GridSearchCV con los parámetros requeridos
grid_model = GridSearchCV(estimator=logreg, param_grid=param_grid, cv=5)

# Utilizamos nuevamente 'scaler' para escalar X
rescaledX = scaler.fit_transform(X)

# Entrenamos el modelo
grid_model_result = grid_model.fit(rescaledX, y)

# Obtenemos los valores de los hiperparámetros que mejores resultados arrojan
best_score, best_params = grid_model_result.best_score_, grid_model_result.best_params_
print("Puntuación:",best_score)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  UserWarning,

Puntuación: 0.8512668126368471